html,
body {
  height: 100%;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?z2th35');
  src: url('../fonts/icomoon.eot?#iefixz2th35') format('embedded-opentype'), url('../fonts/icomoon.woff?z2th35') format('woff'), url('../fonts/icomoon.ttf?z2th35') format('truetype'), url('../fonts/icomoon.svg?z2th35#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-px:before {
  content: "\e601";
}
.icon-instagram:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-github:before {
  content: "\e604";
}
.icon-linkedin:before {
  content: "\e605";
}
.icon-camera:before {
  content: "\e606";
}
.icon-plus:before {
  content: "\e607";
}
.icon-envelope:before {
  content: "\e608";
}
.icon-keyboard:before {
  content: "\e609";
}
div.icon-camera,
div.icon-keyboard {
  color: #999999;
  font-size: 1.8em;
  margin: 2em auto;
  text-align: center;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.cf {
  clear: both;
}
.jelly {
  position: absolute;
}
#jelly-hidden {
  display: none;
}
.the-world {
  max-width: 711px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 0 2em 0 2em;
}
.backgroundsize header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}
header.fixed {
  position: fixed;
  top: 0;
}
header nav {
  color: #ffffff;
  height: 5em;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
header nav .overlay {
  height: 8%;
  opacity: 1;
  background: -moz-linear-gradient(-45deg, #569ea0 0%, #35a569 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #569ea0), color-stop(100%, #35a569));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #569ea0 0%, #35a569 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #569ea0 0%, #35a569 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #569ea0 0%, #35a569 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #569ea0 0%, #35a569 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6569ea0', endColorstr='#e635a569', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header nav .match {
  width: 100%;
  height: 2em;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.35em;
}
header nav .logo {
  float: left;
  width: 2em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  cursor: pointer;
}
header nav .logo #jelly {
  visibility: hidden;
  display: inline-block;
}
header nav .logo:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: -0.25em;
}
header nav ul {
  line-height: 2em;
  float: right;
  height: 100%;
}
header nav ul li {
  margin-left: 8em;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  font-weight: 200;
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-text-stroke: 0.3px;
}
header nav ul li:after {
  content: '<';
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  transform: translateX(5px);
  left: -15px;
}
header nav ul li:before {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  transform: translateX(-5px);
  left: -15px;
  content: '>';
}
header nav ul li:after,
header nav ul li:before {
  opacity: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
header nav ul li:hover:after,
header nav ul li:hover:before {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
header .overlay {
  opacity: .9;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.75);
}
header .the-world:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .welcome {
  vertical-align: middle;
  color: #ffffff;
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-right: -0.35em;
  margin-top: -1em;
}
header .welcome h1 {
  font-size: 2.2em;
  font-family: Lato, sans-serif;
  font-weight: normal;
}
header .welcome h2 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  margin-top: -0.5em;
}
header .welcome button {
  font-family: Lato, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border-width: 1px 1px 1px 1px;
  border-color: #52B384;
  border-style: solid;
  padding: 1em 2.5em;
  font-weight: 300;
  outline: none;
  background: none;
  margin-top: 0.5em;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
header .welcome button:hover {
  border-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
.fixed .welcome {
  display: none !important;
}
.beach section .break {
  margin-top: 5em;
  width: 100%;
  height: 1px;
  border-top: solid 1px #dddddd;
}
.beach ul {
  list-style: none;
  margin: 0 auto;
}
.beach .works-view ul.photos {
  width: 100%;
}
.beach .works-view ul.photos li {
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
  width: 25%;
}
.beach .works-view ul.photos li figure {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 66.22222222222223%;
}
.beach .works-view ul.photos li figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}
.beach .works-view ul.photos li figure img:hover {
  transform: scale(0.98);
  -ms-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -webkit-transform: scale(0.98);
}
.beach .works-view ul.writings li {
  color: #666666;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}
.beach .works-view ul.writings li em {
  color: #66bfc2;
  font-size: .6em;
  font-weight: 300 !important;
}
.beach .works-view ul.writings li strong {
  color: #999999;
  font-weight: 300;
  font-size: .8em;
}
.beach .works-view ul.writings li:hover {
  opacity: 0.7;
}
.beach .hello-view {
  height: 100%;
  text-align: left;
  color: #666666;
}
.beach .hello-view .the-world {
  text-align: left;
}
.beach .hello-view h1 {
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 2.1em;
  margin: 1.5em 0em 1em;
}
.beach .hello-view p {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #101010;
}
.beach .hello-view ul {
  margin-top: 4em;
}
.beach .hello-view ul li {
  padding-right: .6em;
  font-size: 1.5em;
  display: inline-block;
}
.beach .hello-view ul li a {
  color: #66bfc2;
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
}
.beach .hello-view ul li a:hover {
  color: #52B384;
}
.beach .hello-view footer {
  margin: 10em 0em .5em;
  font-size: .9em;
  font-weight: 300;
  text-align: right;
  color: #999;
  font-family: Lato, sans-serif;
}
@media only screen and (max-width: 1000px) {
  ul.photos li {
    width: 33.333333333333336% !important;
  }
}
@media only screen and (max-width: 800px) {
  header nav {
    font-weight: 200;
  }
  header nav ul li {
    margin-left: 3em !important;
  }
  ul.photos li {
    width: 50% !important;
  }
  ul.writings li em {
    display: none;
  }
  ul.writings li strong {
    color: #999999;
    font-weight: 300;
    font-size: .8em;
  }
}
