html, body {
  height: 100%;
}

ul, li {
  padding: 0;
  margin: 0;
}

.cf {
  clear: both;
}

.the-world {
  max-width: 1000px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.backgroundsize header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  border-top: solid 3px #ffffff;
  width: 100%;
  height: 70%;
  transition: height .3s linear;
  -o-transition: height .3s linear;
  -moz-transition: height .3s linear;
  -webkit-transition: height .3s linear;

  &.fixed {
    height: @nav-length + 2*@nav-padding;
    position: fixed;
    top: 0;
  }

  @nav-length: 2em;
  @nav-padding: 1.5em;
  nav {
    color: #ffffff;
    height: @nav-length;
    padding: @nav-padding 0em;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 1000px;

    .match {
      width: 90%;
      height: 100%;
      margin: 0 auto;
    }

    .logo {
      float: left;
      width: @nav-length;
      height: 100%;
      background-color: rgba(255,255,255,.2);
      text-align: center;
      cursor: pointer;

      #jelly {
        visibility: hidden;
        display: inline-block;
      }

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -.25em;
      }
    }

    ul {
      line-height: @nav-length;
      float: right;
      height: 100%;
      li {
        margin-left: 8em;
        font-family: Raleway, sans-serif;
        font-weight: 200;
        display: inline-block;
        cursor: pointer;
        position: relative;
        &:after {
          content: '<';
          display: inline-block;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateX(5px);
          -moz-transform: translateX(5px);
          transform: translateX(5px);
          left: -15px;
        }
        &::before {
          display: inline-block;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateX(-5px);
          -moz-transform: translateX(-5px);
          transform: translateX(-5px);
          left: -15px;
          content: '>';
        }
        &::after, &::before {
          opacity: 0;
          position: absolute;
          -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
          -moz-transition: -moz-transform 0.3s, opacity 0.3s;
          transition: transform 0.3s, opacity 0.3s;
        }
        &:hover::after, &:hover::before {
          opacity: 1;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          transform: translateX(0px);
        }
      }
    }
  }

  .overlay {
    height: 100%;
    background: -moz-linear-gradient(-45deg,  rgba(86,158,160,0.9) 0%, rgba(53,165,105,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(86,158,160,0.9)), color-stop(100%,rgba(53,165,105,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(86,158,160,0.9) 0%,rgba(53,165,105,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(86,158,160,0.9) 0%,rgba(53,165,105,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(86,158,160,0.9) 0%,rgba(53,165,105,0.9) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(86,158,160,0.9) 0%,rgba(53,165,105,0.9) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6569ea0', endColorstr='#e635a569',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    z-index:9999;

    .the-world:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    .welcome {
      vertical-align: middle;
      color: #ffffff;
      text-align: right;
      display: inline-block;
      width: 90%;
      h1 {
        font-size: 2.2em;
        font-family: Lato, sans-serif;
        font-weight: normal;
      };
      h2 {
        font-family: Raleway, sans-serif;
        font-weight: 200;
        margin-top: -.5em;
      };
      button {
        font-family: Lato, sans-serif;
        color: #ffffff;
        border-radius: 4px;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(255, 255, 255, .8);
        border-style: solid;
        padding: 1em 1.5em;
        font-weight: 300;
        outline:none;
        background: none;
        margin-top: 1em;
        -webkit-transition: background-color 250ms linear;
        -moz-transition: background-color 250ms linear;
        -o-transition: background-color 250ms linear;
        -ms-transition: background-color 250ms linear;
        transition: background-color 250ms linear;

        &:hover {
          border-color: rgba(255, 255, 255, 0.25);
          background-color: rgba(255, 255, 255, 0.25);
          -webkit-transition: background-color 250ms linear;
          -moz-transition: background-color 250ms linear;
          -o-transition: background-color 250ms linear;
          -ms-transition: background-color 250ms linear;
          transition: background-color 250ms linear;
          -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
          box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
        }
      }
    }
  }
}

.fixed .welcome {
  display: none !important;
}

.beach {
  .works-view {
    height: 100em;
  }
  .hello-view {
    height: 70em;
  }
}

@media only screen and (max-width: 800px) {
  header {
    height: 100%;
    nav {
      font-weight: 200;
      ul {
        li {
          margin-left: 3em !important;
        }
      }
    }
  }
}